body {
  background-color: #000629;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.title {
  margin-top: 10vh;
  font-size: 3rem;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

.text-upload-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: white;
  width: 75vw;
  height: 55vh;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.text-upload-section textarea {
  flex-grow: 1;
}

.upload-section {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 30vh;
  gap: 1vw;
  z-index: 10;
}

.enter-text {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 15px;
  resize: none;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: white;
  box-sizing: border-box;
  display: block;
  line-height: 1.5;
}

.option-btn {
  display: absolute;
  background-color: white;
  color: #607088;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  width: 12vw;
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: None;
  border: 0.5px solid #ced6de;
}

.option-btn:hover {
  background-color: #ced6de;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #000629;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
  z-index: 1000;
  cursor: pointer;
}

.back-button:hover {
  background-color: #ced6de;
}

.chatbot-image {
  position: absolute;
  width: 20vw;
  height: auto;
  right: 0;
  bottom: 0;
}

.chatbot-link-btn {
  position: absolute;
  right: 15vw;
  bottom: 5vh;
  background-color: white;
  color: #607088;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: 0.5px solid #ced6de;
}

.chatbot-link-btn:hover {
  background-color: #ced6de;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons */
  align-items: center;
  gap: 15px; /* Adjust spacing between buttons */
  margin-top: 5vh;
  width: 100%;
}

.check-btn,
.clear-btn {
  background-color: white;
  width: 12vw;
  height: 6vh;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #607088;
  display: none; /* Initially hidden */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.check-btn:hover,
.clear-btn:hover {
  background-color: #ced6de;
}
