# Ignore Python & Virtual Environment files
__pycache__/
*.pyc
*.pyo
env/
venv/

# Ignore large files
*.log
*.csv
*.h5
*.pth
*.sqlite
.DS_Store
debunkd/backend/chatbot/chroma_teacher_db/
debunkd/backend/chatbot/chroma_verify_db/
backend/chatbot/chroma_verify_db/
chatbot/chroma_teacher_db/